In [2]:
import math

print(math.sqrt(4))

2.0

In [7]:
print(3/4)

0.75

In [9]:
from __future__ import print_function

print(4)

4

In [3]:
x = [3, "str", 6, 9]
print x
print type(x)
print type(x[1])

[3, 'str', 6, 9]
<type 'list'>
<type 'str'>

In [4]:
x.append([])
print x

[3, 'str', 6, 9, []]

In [5]:
x.sort()
print x

[3, 6, 9, [], 'str']

In [6]:
x[3].append('abc')

In [7]:
print x

[3, 6, 9, ['abc'], 'str']

In [12]:
s = ("Int: %f %f" % (4.0, 5.0))

In [13]:
print s

Int: 4.000000 5.000000

In [14]:
y = (2, 6, "s")
print y
print type(y)

(2, 6, 's')
<type 'tuple'>

In [16]:
z = dict()
#a = list()
#b = tuple()
# PEP8

In [17]:
z[123] = 42
z[y] = "r"

In [18]:
print z

{123: 42, (2, 6, 's'): 'r'}

In [19]:
z[x] = 121

TypeError: unhashable type: 'list'

In [20]:
w = {34: 42, "str": [], (4, 5, 6): 7 }
print w
print type(w)

{34: 42, (4, 5, 6): 7, 'str': []}
<type 'dict'>

In [22]:
s = {34, 42, "str", (4, 5, 6), 7, 7, 7}
print s

set([42, (4, 5, 6), 34, 'str', 7])

In [26]:
u = {1, 2, 3, frozenset(list(s))}

set([3, 1, 2, frozenset([42, (4, 5, 6), 34, 'str', 7])])

In [30]:
s.intersection({42, 7, 6})

{7, 42}

In [31]:
print s.union({42, 7, 6})

set([34, 6, 7, 42, 'str', (4, 5, 6)])

In [32]:
s.add("12345")

In [33]:
print s

set([34, 7, (4, 5, 6), 42, 'str', '12345'])

In [40]:
t = range(2, 5)
print t
print type(t)

[2, 3, 4]
<type 'list'>

In [38]:
x = xrange(2, 5)
print x
print type(x)

xrange(2, 5)
<type 'xrange'>

In [39]:
for i in x:
    print i

2
3
4

In [57]:
for i in t:
    print i

2
4
3
4
4
4

In [47]:
d = [i ** 2 for i in range(3, j) for j in range(6, 8)]
print d

[9, 9, 16, 16, 25, 25, 36, 36]

In [49]:
h = [i for i in range(1, 20) if i % 3 == 0]
print h

[3, 6, 9, 12, 15, 18]

In [54]:
def qsort(x):
    x[0] = 2  #[i**2 for i in x]

a = [3, 7, 9, 8, 3, 2, 1]
qsort(a)
print a

[2, 7, 9, 8, 3, 2, 1]